body {
    font-family: monospace;
    font-size: 16px;
    background-color: #fbf8ef;
}
body a {
    color: black;
    text-decoration: none;
}
.project {
    margin-top: 50px;
}
.project a {
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: lightblue;
}
.project img {
    width: 100%;
    /*max-width: 1000px;*/
    border: black solid 1px;
    border-radius: 5px;
}
