body {
    font-family: monospace;
    font-size: 16px;
    background-color: #fbf8ef;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}
body a {
    color: black;
    text-decoration: none;
}

.bubble {    
    display: inline-block;
    border: black solid 1px;
    border-radius: 5px;
    background-color: lightblue;
    /*padding: 5px;*/
}

.heading {
    width: 600px;
}

.category {
    vertical-align: top;
    margin: 20px;
    width: 400px;
    height: 250px;
}

.article {
    display: inline-block;
    width: 50%;
    margin: 5px;
    text-align: left;
    padding: 5px;
}

.la-div {
    display: inline-block;
    /*border: black solid 1px;*/
    text-align: left;
    width: 70%;
}
